@model Frisk_2._0.Models.SignUp
<div class="modal fade" id="editUser-@Model.Id" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="editUserLabel">Uppdatera användare</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label">Id</label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserType" class="control-label">Användartyp</label>
                        <select asp-for="UserType" class="form-control" placeholder="@Html.DisplayFor(model => model.UserType)">

                            <option value="user">Privatperson</option>
                            <option value="sponsor">Sponsor</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">Förnamn</label>
                        <input asp-for="FirstName" class="form-control" placeholder="Ange förnamn" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Efternamn</label>
                        <input asp-for="LastName" class="form-control" placeholder="Ange efternamn" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Ange email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Lösenord</label>
                        <input asp-for="Password" class="form-control" value="@Html.DisplayFor(model => model.Password)" placeholder="Ange lösenord" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Upprepa lösenord</label>
                        <input asp-for="ConfirmPassword" input type="password" value="@Html.DisplayFor(model => model.Password)" class="form-control" placeholder="Upprepa ditt lösenord" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-back" type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                        <button id="btn-save" type="submit" class="btn btn-primary">Spara</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
