@model Frisk_2._0.Models.User

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="./css/Admin.css" />

<h4>Uppdatera användarinformation</h4>
<link rel="stylesheet" href="./css/Admin.css" />
<hr />
<div class="tableContainer">
    <div class="table-edit">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div>
                @Html.DisplayNameFor(modelItem => modelItem.Id)
                @Html.DisplayFor(modelItem => modelItem.Id)
                <span asp-validation-for="Id"></span>
            </div>
            <div>
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName"/>
                <span asp-validation-for="FirstName"></span>
            </div>
            <div>
                <label asp-for="LastName"></label>
                <input asp-for="LastName"/>
                <span asp-validation-for="LastName"></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <button id="btn-back" onclick="window.location='@Url.Action("Index", "Admin")'">Tillbaka</button>
                <button id="btn-save" type="submit" onclick="window.location='@Url.Action("Edit", "Admin")'"><i class="fa fa-save">&nbsp;Spara</i></button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
