@*för att använda tempdata meddelanden*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link href="~/css/Admin.css" rel="stylesheet" />
    @*AJAX*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*JQuery*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*Bootstrap*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://informatik5.ei.hv.se/frisk2.0/Pictures/logo.png" /></a>
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <footer class="footer">

        <div class="footer-list">
            <div class="column">
                <h4>Sidan senast besökt</h4>
                <p>@DateTime.Now</p>
            </div>

            <div class="column">
                <h4>Kontaktinformation</h4>
                <ul class="login-list">

                    <li><p>Adress: Friskvägen 1 123 45 Friskstad</p></li>
                    <li><p>Mail: Frisk@frisk.se</p></li>
                    <li><p>Telefon: 031-123 45</p></li>
                </ul>
                </ul>

            </div>

            <div class="column">
                <h4>Tjänster</h4>
                <ul class="login-list">

                    <li><p><a href="https://informatik3.ei.hv.se/frisk/Monitoring">Övervakning</a></p></li>
                    <li><p><a asp-controller="Login" asp-action="LogOut">Logga ut</a></p></li>


                </ul>

            </div>


        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
