@*för att använda tempdata meddelanden*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grupp 5</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://informatik5.ei.hv.se/frisk2.0/Pictures/logo.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://informatik2.ei.hv.se/myevents/Login">Mina Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://informatik3.ei.hv.se/frisk">Sök Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://informatik1.ei.hv.se/Profiluserinfos/api/userinfos">Logga in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://informatik5.ei.hv.se/frisk2.0/SignUp">Bli medlem</a>
                </li>
            </ul>
        </nav>
    </header>

            @RenderBody()

    <footer class="footer">

        <div class="footer-list">
            <div class="column">
                <h4>Hälsofrämjandet</h4>
                <p>Hälsofrämjandet är en riksomfattande organisation. Med en helhetssyn på kost, aktivitet och vila värnar Hälsofrämjandet om ett friskare liv för alla. Vi arrangerar inspirerande evenemang och föredrag där vi delar kunskap om allt ifrån kallbad till kombucha.</p>
            </div>
            <div class="column">
                <h4>Om Frisk</h4>
                <p>Som ett steg i vår digitaliseringsresa lanseras Frisk. En webbtjänst som möjliggöra att skapa och delta på hälsoevent. Många har intresset av att röra på sig mer, men saknar någon att göra det med. Nu görs detta möjlig!</p>
            </div>
            <div class="column">
                <h4>Inloggningar</h4>
                <ul class="login-list">
 
                    <li><p><a href="https://informatik5.ei.hv.se/frisk2.0/Login">Logga in Admin </a></p></li>
                    <li><p><a href="https://informatik4.ei.hv.se/SponsorOffer/Login/Index">Logga in Sponsor</a></p></li>
                    
                </ul>
            </div>

        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>