@*för att använda tempdata meddelanden*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grupp 5</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://informatik5.ei.hv.se/frisk2.0/Pictures/logo.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Service" asp-action="Grupp1">Användarinfo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Service" asp-action="Grupp2">Eventhantering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Service" asp-action="Grupp3">Söktjänst</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Service" asp-action="Grupp4">Erbjudandetjänst</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Service" asp-action="Grupp6">Betaltjänst</a>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Logga in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="SignUp" asp-action="Index">Bli medlem</a>
                </li>
            </ul>
        </nav>
    </header>

            @RenderBody()

    <footer class="footer">

        <div class="footer-list">
            <div class="column">
                <h4>Hälsofrämjandet</h4>
                <p>Hälsofrämjandet är en riksomfattande organisation. Med en helhetssyn på kost, aktivitet och vila värnar Hälsofrämjandet om ett friskare liv för alla. Vi arrangerar inspirerande evenemang och föredrag där vi delar kunskap om allt ifrån kallbad till kombucha.</p>
            </div>
            <div class="column">
                <h4>Om Frisk</h4>
                <p>Som ett steg i vår digitaliseringsresa lanseras Frisk. En webbtjänst som möjliggöra att skapa och delta på hälsoevent. Många har intresset av att röra på sig mer, men saknar någon att göra det med. Nu görs detta möjlig!</p>
            </div>
            <div class="column">
                <h4>Kontakt</h4>
                <ul class="contact-list">
                    <li>
                        <p>
                            Adress:
                            Riksförbundet Hälsofrämjandet
                            Fjällgatan 23B
                            116 28 STOCKHOLM
                        </p>
                    </li>
                    <li><p>Telefon: 08-643 05 04</p></li>
                    <li><p>Mail: info@halsoframjandet.se</p></li>
                </ul>
            </div>

        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>