@model Frisk_2._0.Models.SignUp

    <html lang="se">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bli medlem</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800;700&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="./css/site.css" />
    <link rel="stylesheet" href="./css/Member.css" />
    <style>
        span {
            font-size: small;
            
        }

        .text-danger {
            color: red;
        }
    </style>
    </head>
    <body>

    <div class="form-container">

        <form asp-action="SignUp" method="post">

            
            <h3>Bli medlem</h3>

            <div class="form-group">
                <input asp-for="FirstName" class="form-control"  placeholder="Ange ditt förnamn" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control" placeholder="Ange ditt efternamn" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Ange din email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                
                <select name="UserType">
                    
                    <option value="user">Privatperson</option>
                    <option value="sponsor">Sponsor</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="Password" input type="password" class="form-control" placeholder="Ange ditt lösenord" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" input type="password" class="form-control" placeholder="Upprepa ditt lösenord" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            

            
            <input type="submit" name="submit" value="Bli medlem" class="form-btn">
            <p>Har du redan ett konto? <a asp-action="Index" asp-controller="LogIn">Logga in här</a></p>
        </form>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </body>
</html>
