@model Frisk_2._0.Models.LogIn

<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logga in</title>


    
    <link rel="stylesheet" href="./css/site.css" />
    <link rel="stylesheet" href="./css/member.css" />

</head>
<body>

    <div class="form-container">
        <form asp-action="LogIn" method="post">
            <h3>Logga in</h3>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="submit" value="Logga in" class="form-btn">
            </div>


            <p>Har du inget konto? <a asp-action="Index" asp-controller="SignUp">Registrera dig här</a></p>
        </form>
    </div>
</body>
</html>