@model Frisk_2._0.Models.UserData

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/landingpage.css" rel="stylesheet" />

    @if (Model != null)
    {
        <h1>Välkommen, @Model.FirstName!</h1>
        <p>Din e-postadress: @Model.Email</p>
        <p>Ditt efternamn: @Model.LastName</p>
    }
    else
    {
        
    }
    <hero class="hero-image">
        <button class="button-style">Skapa event</button>
        <button class="button-style">Läs mer om Frisk</button>
        <form>
            <input class="input-style"type="text" placeholder="Sök event här..." />
        </form>
    </hero>

