@model Frisk_2._0.Models.UserData

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/landingpage.css" rel="stylesheet" />

    @if (Model != null)
    {
        <h1>Välkommen, @Model.FirstName!</h1>
        
        
    }
    else
    {
        
    }
    <hero class="hero-image">
    
    <div class="hero-container">
                <p class="heroHeading">Hitta event nära dig!</p>
    
        <div class="input-cont">
        <div class="search-cont">
        <form method="get" asp-action="search">
            <input name="text" class="input-style" type="text" placeholder="Sök event här..." />
            <button type="submit" class="button-style">Sök</button>
        </form>
        </div>
    </div>
     <div>       
       
       
       
    </div>
    </div>

</hero>

