@model Frisk_2._0.Models.UserData

<!DOCTYPE html>
<html>
<head>
    <title>Logged In</title>
</head>
<body>
    <h1>Welcome to the Logged In page!</h1>
    <p>Your user ID is: @Model.Id</p>
</body>
</html>
